
* {
    box-sizing: border-box; /* Not necessary here, but I like it :-) */
    font-family:Arial, Helvetica, sans-serif;
}

body {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 175%;
}

section {
    background-color: gray;
    border: 1px solid black;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}

h2 {
    color: white;
    margin: 0;
    font-size: 125%;
    text-align: center;
    border: 1px solid black;
    padding: 7px;
    width: 7em;
    position: absolute;
    right: -1px; /* We don't want to have double border between section and the title */
    top: -1px;

    /* Another  option for putting title to the right; although, there are 2 borders in this case */
    /* margin-left:auto;
    margin-right:0;
    margin-top: 0;
    margin-bottom: 0; */
}

.section-title1 {  
    background-color: brown;
}

.section-title2 {
    background-color: darkblue;
}

.section-title3 {
    background-color: darkmagenta;
}


.text {
    padding: 3em 15px 15px 15px;
}


/* In the following media queries, only classes that are being used are defined. There is no point creating all 12 column variations here. */
/* Desktop view */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33%;
        float: left;
    }  
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left; /* This could be put outside, but again, it's not worth it for this simple demo */
    }

    .col-md-12 {
        width: 100%;
        float: left;
    }
}

/* Mobile view */
@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
        float: left;
    }
}